/* Add your styles here. */

* {
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 1.6rem;
  color: #222;
  background: #efefef;
}
